## auxiliar pdflatex files
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.acn
*.blg
*.glo
*.ist

## axiliar ise files
*ngo*
*xmsgs*
*iseconfig*
*isim*
*planAhead
*xlnx*
*xst*
*log
*.bld
*.cmd
*.csv
*.exe
*.gise
*.lco
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.o
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.wdb
*.xise
*.xpi
*.xrpt
*.xst
*xilinxsim.ini

## auxiliar miktex files
*.nav
*.snm