## auxiliar pdflatex files
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.acn
*.blg
*.glo
*.ist

## axiliar ise files
*ngo*
*xmsgs*
*iseconfig*
*isim*
*planAhead
*xlnx*
*xst*
*log
*.bgn
*.bld
*.cmd
*.csv
*.drc
*.exe
*.gise
*.lco
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.ut
*.o
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.wdb
*.xdl
*.xise
*.xpi
*.xrpt
*.xst
*.xwbt
*xilinxsim.ini


## auxiliar miktex files
*.nav
*.snm