//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 03 14:14:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "slwr" LOCATE = SITE "P17" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P56" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "fdata<10>" LOCATE = SITE "P35" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "fdata<11>" LOCATE = SITE "P34" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "fdata<12>" LOCATE = SITE "P41" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "fdata<13>" LOCATE = SITE "P40" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "fdata<14>" LOCATE = SITE "P51" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "fdata<15>" LOCATE = SITE "P50" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "faddr<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "faddr<1>" LOCATE = SITE "P9" LEVEL 1;
COMP "fdata<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "fdata<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "fdata<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "fdata<3>" LOCATE = SITE "P23" LEVEL 1;
COMP "fdata<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "fdata<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "fdata<6>" LOCATE = SITE "P30" LEVEL 1;
COMP "fdata<7>" LOCATE = SITE "P29" LEVEL 1;
COMP "fdata<8>" LOCATE = SITE "P33" LEVEL 1;
COMP "fdata<9>" LOCATE = SITE "P32" LEVEL 1;
COMP "flaga" LOCATE = SITE "P12" LEVEL 1;
COMP "flagb" LOCATE = SITE "P14" LEVEL 1;
COMP "flagc" LOCATE = SITE "P15" LEVEL 1;
COMP "flagd" LOCATE = SITE "P11" LEVEL 1;
COMP "sloe" LOCATE = SITE "P6" LEVEL 1;
COMP "slrd" LOCATE = SITE "P16" LEVEL 1;
COMP "reset" LOCATE = SITE "P38" LEVEL 1;
COMP "pktend" LOCATE = SITE "P10" LEVEL 1;
PIN fifo/Mram_data_array_pins<18> = BEL "fifo/Mram_data_array" PINNAME
        CLKAWRCLK;
PIN fifo/Mram_data_array_pins<19> = BEL "fifo/Mram_data_array" PINNAME
        CLKBRDCLK;
TIMEGRP pll_clk90 = BEL "curr_state_FSM_FFd8" BEL "curr_state_FSM_FFd9" BEL
        "curr_state_FSM_FFd7" BEL "curr_state_FSM_FFd6" BEL
        "curr_state_FSM_FFd3" BEL "curr_state_FSM_FFd5" BEL
        "curr_state_FSM_FFd2" BEL "curr_state_FSM_FFd4" BEL
        "curr_state_FSM_FFd1" BEL "pll/clkout2_buf" BEL
        "fifo/read_occupancy_9" BEL "fifo/read_occupancy_8" BEL
        "fifo/read_occupancy_7" BEL "fifo/read_occupancy_6" BEL
        "fifo/read_occupancy_5" BEL "fifo/read_occupancy_4" BEL
        "fifo/read_occupancy_3" BEL "fifo/read_occupancy_2" BEL
        "fifo/read_occupancy_1" BEL "fifo/read_occupancy_0" BEL
        "fifo/write_occupancy_9" BEL "fifo/write_occupancy_8" BEL
        "fifo/write_occupancy_7" BEL "fifo/write_occupancy_6" BEL
        "fifo/write_occupancy_5" BEL "fifo/write_occupancy_4" BEL
        "fifo/write_occupancy_3" BEL "fifo/write_occupancy_2" BEL
        "fifo/write_occupancy_1" BEL "fifo/write_occupancy_0" BEL
        "fifo/write_ptr_8" BEL "fifo/write_ptr_7" BEL "fifo/write_ptr_6" BEL
        "fifo/write_ptr_5" BEL "fifo/write_ptr_4" BEL "fifo/write_ptr_3" BEL
        "fifo/write_ptr_2" BEL "fifo/write_ptr_1" BEL "fifo/write_ptr_0" BEL
        "fifo/read_ptr_7" BEL "fifo/read_ptr_6" BEL "fifo/read_ptr_5" BEL
        "fifo/read_ptr_4" BEL "fifo/read_ptr_3" BEL "fifo/read_ptr_2" BEL
        "fifo/read_ptr_1" BEL "fifo/read_ptr_0" BEL "fifo/fifo_full_s" BEL
        "fifo/fifo_empty_s" BEL "fifo/write_busy_d" BEL "fifo/fifo_empty_s_1"
        BEL "curr_state_FSM_FFd1_1" PIN "fifo/Mram_data_array_pins<18>" PIN
        "fifo/Mram_data_array_pins<19>";
PIN oddr_y_pins<1> = BEL "oddr_y" PINNAME CK0;
PIN oddr_y_pins<2> = BEL "oddr_y" PINNAME CK1;
TIMEGRP pll_clk180 = BEL "pll/clkout3_buf" PIN "oddr_y_pins<1>" PIN
        "oddr_y_pins<2>" PIN "oddr_y_pins<1>" PIN "oddr_y_pins<2>";
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN pll/dcm_sp_inst_pins<3> = BEL "pll/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP pll_clk0 = BEL "debug_clk" BEL "cont_0" BEL "cont_1" BEL "cont_4" BEL
        "cont_2" BEL "cont_3" BEL "cont_5" BEL "cont_6" BEL "cont_9" BEL
        "cont_7" BEL "cont_8" BEL "cont_10" BEL "cont_11" BEL "cont_14" BEL
        "cont_12" BEL "cont_13" BEL "cont_17" BEL "cont_15" BEL "cont_16" BEL
        "cont_20" BEL "cont_18" BEL "cont_19" BEL "cont_21" BEL "cont_22" BEL
        "cont_23" BEL "pll/clkout1_buf" PIN
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>" PIN
        "pll/dcm_sp_inst_pins<3>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN pll/dcm_sp_inst_pins<4> = BEL "pll/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk_in = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "pll/dcm_sp_inst_pins<4>";
TS_clk_in = PERIOD TIMEGRP "clk_in" 48 MHz HIGH 50%;
TS_pll_clk180 = PERIOD TIMEGRP "pll_clk180" TS_clk_in PHASE 10.4166667 ns HIGH
        50%;
TS_pll_clk0 = PERIOD TIMEGRP "pll_clk0" TS_clk_in HIGH 50%;
TS_pll_clk90 = PERIOD TIMEGRP "pll_clk90" TS_clk_in PHASE 5.20833333 ns HIGH
        50%;
SCHEMATIC END;

