
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2017/11/24
NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk_in = PERIOD "clk_in" 48MHz HIGH 50%;

NET "clk_in" LOC = P56 |IOSTANDARD = LVTTL;
NET "reset" LOC = P38 |IOSTANDARD = LVTTL;

#net "clk_out" loc = p | iostandard = lvttl;
net "fdata<15>" LOC = p50 |IOSTANDARd = LVTTL;
net "fdata<14>" LOC = p51 |IOSTANDARd = LVTTL;
net "fdata<13>" LOC = p40 |IOSTANDARd = LVTTL;
net "fdata<12>" LOC = p41 |IOSTANDARd = LVTTL;
net "fdata<11>" LOC = p34 |IOSTANDARd = LVTTL;
net "fdata<10>" LOC = p35 |IOSTANDARd = LVTTL;
net "fdata<9>" LOC = p32 |IOSTANDARd = LVTTL;
net "fdata<8>" LOC = p33 |IOSTANDARd = LVTTL;
net "fdata<7>" LOC = p29 |IOSTANDARd = LVTTL;
net "fdata<6>" LOC = p30 |IOSTANDARd = LVTTL;
net "fdata<5>" LOC = p26 |IOSTANDARd = LVTTL;
net "fdata<4>" LOC = p27 |IOSTANDARd = LVTTL;
net "fdata<3>" LOC = p23 |IOSTANDARd = LVTTL;
net "fdata<2>" LOC = p24 |IOSTANDARd = LVTTL;
net "fdata<1>" LOC = p22 |IOSTANDARd = LVTTL;
net "fdata<0>" LOC = p21 |IOSTANDARd = LVTTL;

net "faddr<1>" LOC = p9 |iostandard = lvttl;
net "faddr<0>" LOC = p8 |iostandard = lvttl;

net "slrd" loc = p16 |iostandard = lvttl;
net "slwr" loc = p17 |iostandard = lvttl;
net "flaga" loc = p12 |iostandard = lvttl;
net "flagb" loc = p14 |iostandard = lvttl;

net "flagc" loc = p15 |iostandard = lvttl;
net "flagd" loc = p11 |iostandard = lvttl;
net "sloe" loc = p6 |iostandard = lvttl;

net "pktend" loc = p10 |iostandard = lvttl;
#net "done" loc = p | iostandard = lvttl;
#NET "clk" TNM_NET = clk;
#TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;
#
#NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
#NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;
#
#NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;
#
NET "led<0>" LOC = P134 |IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 |IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 |IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 |IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 |IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 |IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 |IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 |IOSTANDARD = LVTTL;
#
#NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
#NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
#NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
#NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
#NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
#NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
#NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
#NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;
#
#NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
#NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
#NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;
